<div class="row">
    <div class="col-md-4">
        <mat-card>
            <mat-card-content>
                <div class="row text-center">
                    <div class="col-md-4 ">
                        <mat-icon color="primary">receipt</mat-icon>
                    </div>
                    <div class="col-md-8 ">
                        <h4>{{ receivables | currency: 'GHC'  }}</h4>
                        <p class="lead">Receivables</p>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md-4">
        <mat-card>
            <mat-card-content>
                <div class="row text-center">
                    <div class="col-md-4 ">
                        <mat-icon color="warn">credit_card</mat-icon>
                    </div>
                    <div class="col-md-8 ">
                        <h4>{{transaction}}</h4>
                        <p class="lead">Transactions</p>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>


    <div class="col-md-4">
        <mat-card>
            <mat-card-content>
                <div class="row text-center">
                    <div class="col-md-4 ">
                        <mat-icon color="primary">money</mat-icon>
                    </div>
                    <div class="col-md-8 ">
                        <h4>{{ revenue | currency: 'GHC' }}</h4>
                        <p class="lead">Revenue</p>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>



<div class="row mt-3">
    <div class="col-md-12">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <!-- <div style="display: block;" *ngIf="lineChartData">

                    <canvas baseChart width="400" height="160"
                      [datasets]="lineChartData"
                      [labels]="lineChartLabels"
                      [options]="lineChartOptions"
                      [colors]="lineChartColors"
                      [legend]="lineChartLegend"
                      [chartType]="lineChartType"
                      [plugins]="lineChartPlugins">
                      
                    </canvas>
                  </div>
                   -->
            </mat-card-content>
        </mat-card>
    </div>
 
</div>