<div class="row">
    <div class="col-md-3">
        <mat-card>
            <mat-card-content>
                <div class="row text-center">
                    <div class="col-md-4 ">
                        <mat-icon color="primary">widgets</mat-icon>
                    </div>
                    <div class="col-md-8 ">
                        <h4>123</h4>
                        <p class="lead">Properties</p>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md-3">
        <mat-card>
            <mat-card-content>
                <div class="row text-center">
                    <div class="col-md-4 ">
                        <mat-icon color="primary">supervised_user_circle</mat-icon>
                    </div>
                    <div class="col-md-8 ">
                        <h4>123</h4>
                        <p class="lead">Owners</p>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md-3">
        <mat-card>
            <mat-card-content>
                <div class="row text-center">
                    <div class="col-md-4 ">
                        <mat-icon color="primary">account_box</mat-icon>
                    </div>
                    <div class="col-md-8 ">
                        <h4>123</h4>
                        <p class="lead">USers</p>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md-3">
        <mat-card>
            <mat-card-content>
                <div class="row text-center">
                    <div class="col-md-4 ">
                        <mat-icon color="primary">credit_card</mat-icon>
                    </div>
                    <div class="col-md-8 ">
                        <h4>123</h4>
                        <p class="lead">Transactions</p>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>