<mat-card class="mat-elevation-z8">

    <mat-card-header>
        <mat-card-title>All Invoices</mat-card-title>
    </mat-card-header>

    <mat-card-content>
     

      <div class="row" style="width:100%" >

        <div class="col-md-12" >
          <div *ngIf="isLoading; else elseBlock" >
            <ngx-skeleton-loader
            count="5"
            [theme]="{
              width: '90%',
              'border-radius': '0',
              height: '15px',
              'margin-bottom': '10px'
            }"
          ></ngx-skeleton-loader>
          </div>
       
    
           <ng-template #elseBlock>
             
            <table mat-table [dataSource]="dataSource"  >
    
              
              <ng-container matColumnDef="propNo">
                <th mat-header-cell *matHeaderCellDef> Property Number </th>
                <td mat-cell *matCellDef="let element"> {{element.propNo}} </td>
              </ng-container>
            
            
              <ng-container matColumnDef="invoiceId">
                <th mat-header-cell *matHeaderCellDef> Invoice Id </th>
                <td mat-cell *matCellDef="let element"> {{element.invoiceId}} </td>
              </ng-container>
    
    
                <ng-container matColumnDef="amount">
                  <th mat-header-cell *matHeaderCellDef> Amount </th>
                  <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
                </ng-container>
            
              <!-- Weight Column -->
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> status </th>
                <td mat-cell *matCellDef="let element"> {{element.stat}} </td>
              </ng-container>
        
            
              <!-- Symbol Column -->
              <ng-container matColumnDef="actions" style="display: none">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element"> 

                    <button mat-icon-button  color="primary" aria-label="Example icon button with a vertical three dot icon">
                        <mat-icon>visibility</mat-icon>
                      </button>
                </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
           </ng-template>

          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>

     
      </div>
  
    
    </mat-card-content>
</mat-card>